= form_for [@commentable, @comment] do |form|
  %h3
    = t('comments.form.title')
  %p
    = form.text_area :content,
      { class: 'form-control', placeholder: t('comments.form.comment_placeholder') }
  %p.text-right
    = form.submit t('comments.form.submit'), class: 'btn btn-outline-dark'
