.btn{
  margin-top: 25px;
  color: #FF4081;
}
.btn:hover{
  color: #FF4081;;
}

.btn-file{
  width: 150px;
  margin-top: 20px;
  padding-left: 28px;
  color: transparent;
}

.btn-file:hover{
  color: transparent;
}

input{
  display: none;
}

.profile-style{
  font-size: 1.5rem;
  font-weight: bold;
}

.user-img{
  width: 150px;
  height: 150px;
}
