* {
  color: $black;
  font-family: $main-font;
  font-size: 14px;
}

.card-comments img {
  width: 4rem;
}

.thumbnail {
  height: 120px;
  overflow: hidden;
  position: relative;
  width: 120px;

  img {
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }
}

.thumbnail-news {
  height: 300px;
  margin: 0;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
  }
}

.thumbnail-social-icon {
  border-radius: 50px;
  float: left;
  height: 50px;
  margin-right: 5px;
  overflow: hidden;
  width: 50px;

  img {
    display: block;
    width: 100%;
  }
}

img .portrait {
  height: auto;
  width: 100%;
}

.banner {
  background-color: $banner-color;
  height: 300px;
  margin-bottom: 20px;
  width: 90%;
}

.aside-bar {
  position: fixed;
}

.social-media-icon {
  border-radius: 50px;
  float: left;
  margin-right: 5px;
  width: 50px;
}

.user-short-info {
  max-width: 200px;
}

.img-comment {
  width: 70px;
}

.social-icon {
  font-size: 20px;
}
