<<<<<<< HEAD
<<<<<<< HEAD
* {
  color: $black;
  font-family: $main-font;
  font-size: 14px;
}

.card-comments img {
  width: 4rem;
}

.thumbnail {
=======
* {
  color: black;
  font-family: main-font;
  font-size: 14px;
}

 .card-comments img {
  width: 4rem;
}

 .thumbnail {
>>>>>>> fixing news.scss
  height: 120px;
  overflow: hidden;
  position: relative;
  width: 140px;

<<<<<<< HEAD
  img {
=======
   img {
>>>>>>> fixing news.scss
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }
}

<<<<<<< HEAD
img .portrait {
=======
 img .portrait {
>>>>>>> fixing news.scss
  height: auto;
  width: 100%;
}

<<<<<<< HEAD
.banner {
  background-color: $banner-color;
=======
 .banner {
  background-color: banner-color;
>>>>>>> fixing news.scss
  height: 300px;
  margin-bottom: 20px;
  width: 90%;
}

<<<<<<< HEAD
.aside-bar {
  position: fixed;
}

.social-media-icon {
=======
 .aside-bar {
  position: fixed;
}

 .social-media-icon {
>>>>>>> fixing news.scss
  border-radius: 50px;
  float: left;
  margin-right: 5px;
  width: 50px;
}

<<<<<<< HEAD
.user-short-info {
  max-width: 200px;
}

.img-comment {
  width: 70px;
}

.social-icon {
  font-size: 20px;
}
=======
>>>>>>> fixed views, tests, rubocop
=======
 .user-short-info {
  max-width: 200px;
}

 .img-comment {
  width: 70px;
}
>>>>>>> fixing news.scss
