.col-sm-12
  .search
    %i.fa.fa-search{ "aria-hidden" => "true" }
    = text_field_tag  :search,
      params[:search],
      placeholder:  t('users.search.field'),
      class: "form-control"
    %button.btn.btn-outline-success.btn-rounded.btn-sm.my-0{ type: 'submit' }
      = t ('users.index.search')
