= form_for current_user do |form|
  .container
    .row
      .col-12
        .card
          .card-body
            =render 'errors'
            .card-title.mb-4
              .d-flex.justify-content-start
                .image-container
                  = image_tag user_avatar_url, alt: 'Avatar' , class: 'user-img'
                  %br
                    = form.file_field :avatar, class: 'btn btn-file'
                  %br
                    = form.submit t('users.user.submit'), class: 'btn'
