= form_for current_user do |form|
  .container
    .row
      .col-12
        .card
          .card-body
            .card-title.mb-4
              .d-flex.justify-content-start
                .image-container
                  = image_tag show_avatar, alt: 'Avatar' , class: 'user-img'
                  %br
                    = form.file_field :avatar, class: 'btn btn-file'
                  %br
                    = form.submit 'Update Profile', class: 'btn'
                .userData.ml-3
                  %h2.d-block.profile-style
                    %a Profile
