.container.p-0
  %h1.mb-3
    = t ('users.edit.profile')
  .row
    .col-md-8.col-xl-12
      .card
        .card-header
          %h5.card-title.mb-0
            = t ('users.edit.profile')
        .card-body
          = render 'form', user: @user
