.container
  .row
    .col-12
      .card
        .card-body
          .card-title.mb-4
            .d-flex.justify-content-start
              .image-container
                = image_tag user_avatar_url, alt: 'Avatar' , class: 'user-img'
                %br
                  = link_to t('users.user.edit'),
                            edit_user_path(current_user.id) ,
                            method: :get , class: 'btn'
