$banner-color: #f4f5f7;
$black: #000000;
$contact-background: #f9f9f9;
$contact-input-color: #ccc;
$main-font: 'Montserrat';
$projects-page-bg: #c4c4c4;
$submit-color: #0cf;
$submit-hover-color: #09c;
$white: #ffffff;
$pink: #ff4081;
