.container
  .row.justify-content-center.mt-4
    .col-lg-12
      %h2.mb-5.text-center Our Projects
      .row.text-center
        - @projects.each do |project|
          .col-lg-4.col-md-12.mb-lg-5
            .view.overlay.rounded.z-depth-1
              = image_tag project.image_url, class: 'img-fluid'
              %a
                .mask.rgba-white-slight
            .card-body.pb-0.p-3
              %h4.font-weight-bold.my-3
                = truncate(project.description, length: 50)
              %p.grey-text
                = truncate(project.description, length: 100)
              = link_to 'View', project_path(project), class: 'text-light btn btn-success'
